@model List<Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (Model.Count != 0)
{
    <a asp-action="AddEmployee" asp-controller="Employee" class="btn btn-sm btn-outline-dark my-2"> <i class="fas fa-plus-circle mr-2"></i> Çalışan Ekle</a>

    <table class="table table-sm table-hover mx-auto">
        <thead>
            <tr>
                <th>Kimlik/Pasaport No</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Görev</th>
                <th>Telefon</th>
                <th>Adres</th>
                <th>Saatlik Ücret</th>
                <th>İşlem</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NationalIdentificationNumber</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    @foreach (var duty in ViewBag.Duties)
                    {
                        if (item.DutyId==duty.Id)
                        {
                            <td>@duty.DutyName</td>
                        }
                    }
                    <td>@item.PhoneNumber</td>
                    <td>@item.Address</td>
                    <td>@item.HourlyWage</td>
                    <td>
                        <a asp-action="UpdateEmployee" asp-controller="Employee" asp-route-id="@item.ID" class="btn btn-warning btn-sm"><i class="far fa-edit mr-2"></i>Düzenle</a>
                        <a asp-action="DeleteEmployee" asp-controller="Employee" asp-route-id="@item.ID" class="btn btn-danger btn-sm"><i class="far fa-edit mr-2"></i>Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center mt-4">
        <p class="lead">
            Kayıtlı Çalışan Bulunamadı!
        </p>
        <a asp-action="AddEmployee" asp-controller="Employee" class="btn btn-sm btn-info my-2">Çalışan Ekle</a>
    </div>
}
