@model List<PayrollForWorker>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/HumanResources/Views/Shared/_HumanResourcesLayout.cshtml";
}


@if (Model.Count != 0)
{
    <main>
        <div class="card mb-4">
            <div class="card-header">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <i class="fas fa-table mr-1"></i>
                Çalışan Maaş Bordroları Tablosu<br />
                <a asp-action="AddPayrollForWorker" asp-controller="PayrollForWorker" class="btn btn-sm btn-outline-dark my-2"> <i class="fas fa-plus-circle mr-2"></i>Çalışan Maaş Bordrosu Ekle</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Ad-Soyad</th>
                                <th>Ay</th>
                                <th>Yıl</th>
                                <th>Açıklama</th>
                                <th>Maaş</th>
                                <th>Saatlik Ücret</th>
                                <th>Günlük Çalışılan Saat</th>
                                <th>Aylık Çalışılan Gün</th>
                                <th>Aylık Ek Mesai Saat Toplamı</th>
                                <th>İşlem</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Ad-Soyad</th>
                                <th>Ay</th>
                                <th>Yıl</th>
                                <th>Açıklama</th>
                                <th>Maaş</th>
                                <th>Saatlik Ücret</th>
                                <th>Günlük Çalışılan Saat</th>
                                <th>Aylık Çalışılan Gün</th>
                                <th>Aylık Ek Mesai Saat Toplamı</th>
                                <th>İşlem</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var payrollForWorker in Model)
                            {
                            <tr>
                                <td>
                                    @if (ViewBag.Workers != null)
                                    {
                                        foreach (var worker in ViewBag.Workers as List<Worker>)
                                        {
                                            if (payrollForWorker.WorkerId == worker.ID)
                                            {
                                                @worker.FullName
                                            }
                                        }
                                    }
                                </td>
                                <td>@payrollForWorker.SalaryDate.Month</td>
                                <td>@payrollForWorker.SalaryDate.Year</td>
                                <td>@payrollForWorker.Description</td>
                                <td>@payrollForWorker.Salary</td>
                                <td>@payrollForWorker.HourlyFee</td>
                                <td>@payrollForWorker.DailyWorkingHours</td>
                                <td>@payrollForWorker.TotalWorkingDaysPerMonth</td>
                                <td>@payrollForWorker.Overtime</td>
                                <td>
                                    <a asp-action="UpdatePayrollForWorker" asp-controller="PayrollForWorker" asp-route-id="@payrollForWorker.ID" class="btn btn-warning btn-sm"><i class="far fa-edit mr-2"></i>Düzenle</a>
                                    <a asp-action="DeletePayrollForWorker" asp-controller="PayrollForWorker" asp-route-id="@payrollForWorker.ID" class="btn btn-danger btn-sm"><i class="far fa-edit mr-2"></i>Sil</a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
}
else
{
    <div class="text-center mt-4">
        <p class="lead">
            Kayıtlı Çalışan Maaş Bordrosu Bulunamadı!
        </p>
        <a asp-action="AddPayrollForWorker" asp-controller="PayrollForWorker" class="btn btn-sm btn-outline-dark my-2"> <i class="fas fa-plus-circle mr-2"></i>Çalışan Maaş Bordrosu Ekle</a>
    </div>
}
